//COLORS
$color-primary: #FF7043;
$color-primary-dark: #fa5422;

$color-secondary: #29B6F6;

$color-grey-light-1: #e0dedc;
$color-grey-light-2: #aaa;

$color-grey-dark: #383027;
$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;


//Querys
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

